/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles pour le corps de la page */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
/* Styles pour l'en-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  /* Styles pour les liens de navigation */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  
    margin-top: 10px;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f7d922;
  }

  /* Styles pour les sections de la page */
section {
    padding: 40px;
  }
  
  section h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  section p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Styles pour la section de portfolio */
  #portfolio ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  #portfolio li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }
  
  #portfolio li h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #portfolio li p {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  #portfolio li img {
    max-width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  footer {
    background-color: lightblue;
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  
  footer h4 {
    font-weight: bold;
    color: #333;
  }
  
  footer p {
    color: #666;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: #666;
    font-size: 24px;
  }
  #titre1{float: left;}

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 20px;
    margin: auto;
    max-width: 800px;
  }
  
  .item {
    font-size: 24px;
    padding: 20px;

  }
  